{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
      <title>Блог</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
              <a class="navbar-brand" href="{% url 'article_list' %}">Все статьи</a>
              <a class="btn btn-primary" href="{% url 'article_create' %}">Создать статью</a>
          </div>
      </nav>

      <div class="container mt-4">
          {% block content %}
          {% endblock %}
      </div>
  </body>
</html>
