body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 60%;
  margin: 0 auto;
}

div {
  margin: 50px;
}

table {
  width: 60%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

li {
  margin-bottom: 35px;
}

input,
textarea {
  padding: 7px;
}

.success {
  color: green;
  list-style: none;
}

.error {
  color: red;
  list-style: none;
}