{% extends 'index.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<h1>Статьи</h1>
<ul>
  {% for article in articles %}
  <li class="mb-3">
    <h2 class="h4">
      <a href="{% url 'articles:article' article.id %}" class="text-decoration-none text-body">
        {{ article.title }}
      </a>
    </h2>
    <div>{{ article.body|slice:":200" }}</div>
    <p class="small">
      Category:
      <a href="{% url 'categories:index' %}" class="text-decoration-none text-body">
        {{ article.category.name }}
      </a>
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
