<!doctype html>
<html>
  <head>
    <title>Example application</title>
    <style>
      table, td {
        border: 1px solid grey;
        border-collapse: collapse;
      }
      td {
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <form action="/users">
      <input type="search" name="term" value="{{ search }}">
      <input type="submit" value="Search">
      <input type="reset" value="Reset">
    </form>
    <a href="/users">Пользователи</a>

    <!-- BEGIN (write your solution here) -->
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>
            {{ user.id }}
        </td>
        <td>
          <a href="/users/{{ user.id }}">{{ full_name(user.first_name, user.last_name) }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <!-- END -->
  </body>
</html>
