<!doctype html>
<html>
  <head>
    <title>Example application</title>
    <style>
      table, td, th {
        border: 1px solid grey;
        border-collapse: collapse;
      }

      td {
        padding: 0.5em;
      }
    </style>
  </head>
  <body>
    <a href="{{ url_for('users') }}">Пользователи</a>
    <!-- BEGIN (write your solution here) -->
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
      </tr>
      <tr>
        <td>
            {{ user.id }}
        </td>
        <td>
            {{ full_name(user.first_name, user.last_name) }}
        </td>
        <td>
            {{ user.email }}
        </td>
      </tr>
    </table>
    <!-- END -->
  </body>
</html>
