<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
    <ul style="list-style: none; line-height: 2em;">
        <li><a href="{{ url_for('get_phones') }}">Phones</a></li>
        <li><a href="{{ url_for('get_domains') }}">Domains</a></li>
        <li><a href="{{ url_for('get_companies') }}">Companies</a></li>
        <li><a href="{{ url_for('users') }}">Users</a></li>
        <li><a href="{{ url_for('courses') }}">Courses</a></li>
        <li><a href="{{ url_for('goodbye') }}">Goodbye</a></li>
    </ul>

    <form action="{{ url_for('foo') }}" method="post">
      <button type="submit">Send POST request to /foo</button>
    </form>
  </body>
</html>
