{% extends 'layout.html' %}
{% load bootstrap4 i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  <div class="container mt-4">
  <!-- BEGIN (write your solution here) -->
  {% if form.errors %}
    <div>
      <ul>
      {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form action="{% url 'categories_update' id=category_id %}" method="post">
  <!-- END -->
    {% csrf_token %}
    <table border="1">
      {{ form }}
    </table>
    <input type="submit" value="Сохранить">
  </form>
  </div>
{% endblock %}
