{% extends 'layouts/layout.html' %} {% block content %}

<h2>Cookies cart</h2>

<form action="/cart-items" method="POST">
  <input type="hidden" name="item_id" value="1" />
  <input type="hidden" name="item_name" value="One" />
  One
  <input type="submit" value="Add" />
</form>
<br />

<form action="/cart-items" method="POST">
  <input type="hidden" name="item_id" value="2" />
  <input type="hidden" name="item_name" value="Two" />
  Two
  <input type="submit" value="Add" />
</form>
<br />

<form action="/cart-items/clean" method="POST">
  <input type="submit" value="Clean" />
</form>
<br />

{% if cart | length == 0 %}
  <div>Cart is empty</div>
{% else %}
{% for _, item in cart.items() %}
  <div>{{ item["name"] }}: {{ item["count"] }}</div>
{% endfor %} {% endif %}

<h2>Session cart</h2>

<form action="/session-cart-items" method="POST">
  <input type="hidden" name="item_name" value="Three">
  Three
  <input type="submit" value="Three" />
</form>
<br />
<form action="/session-cart-items" method="POST">
  <input type="hidden" name="item_name" value="Four">
  Four
  <input type="submit" value="Four" />
</form>
<br />
<form action="/session-cart-clean" method="POST">
  <input type="submit" value="Clean" />
</form>
<br>
{% if session_cart.values() | max == 0 %}
  <div>Session cart is empty</div>
{% else %}
  {% for name, count in session_cart.items() %}
    <div>{{ name }}: {{ count }}</div>
  {% endfor %}
{% endif %}

{% endblock %}
